/*==================================
=       EDIT PROFILE IMAGE          =
==================================*/

#subirImagen{

  display:none;
  margin: 20px 0px;
  border:2px dotted #ccc;
  overflow: hidden;
  padding: 40px;
  cursor:pointer;
  text-align: center;
  left: 50%;
}

#subirImagen img{

  width: 20%;
  padding: 10px;

}

#datosImagen{
margin-left: 35%;	
height: 100px;
width: 400px;
}

#imgPerfil{

	widows: 10%;
	margin: 10px 0;
}
